section.dashboard {
    div.albums {
        h2 {
            // margin-top: 48px;
            margin-bottom: 48px;
        }

        margin-bottom: 48px;
    }

    hr {
        background: rgba(255, 255, 255, 0.2);
        height: 1px !important;
    }
}